body{
    min-height: 100vh;
    background: url(../img/background.png) center/cover;
    position: relative;
}
.container{
    max-width: 110px;
    margin: auto;
}
#circles{
    position: absolute;
    left: 50%;
    top: -8px;
    transform: translateX(-50%);
}
#circles ul{
    display: flex;
    flex-direction: row;
    
}
#circles li{
    padding: 10px;
    display: block;
    background-color: #d8f820;
    border-radius: 50%;
    margin: 0 15px 0 0 ;
}
header, nav ul{
    display: flex;
    flex-direction: row;
}
header{
    padding: 70px 0;
}

#burger__menu{
    width: 25px;
}